[rerere]
	enabled = true
[alias]
	a = add
	b = branch
	co = checkout
	cob = checkout -b
	f = fetch
	p = push
	pl = pull
	st = status
	c = commit
	cm = commit -m
	bl = branch --list
	r = rebase
	ra = rebase --abort
	ri = rebase -i
	rc = rebase --continue
	l = log
	ll = log --oneline
	rename = branch -m 
	undo = reset HEAD~1 --mixed
	save = !git add -A && git commit -m 'SAVEPOINT' --no-verify
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	publish = "!git push -u origin $(git branch-name)"
[user]
	email = svetlimladenov@gmail.com
	name = svetlimladenov
[core]
	editor = nvim
[pull]
	rebase = false
